.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
ntsportal.Rproj
ntsportal_github
tests/msrawfiles/
tests/ufid_alignment/
add-rawfiles-check.json
tests/iris_add_rawfiles
tests/new-detections
tests/stats-report
tests/Iris_add_rawfiles
tests/dbas-eval
logs
tests/plots2
tests/ufid-note
tests/addrawfiles_test
tests/reference-shewhart
tests/machine-learning
tests/nts-proc-testing
tests/archive
tests/add_data2
tests/addrawfiles_test2
tests/analysis_index2
tests/data_export2
tests/envimass-ingest2
tests/summary_scripts2
tests/ufid_alignment2
tests/data-export2
tests/longTestsScreening/testResults
tests/slurmTesting/testResults
inst/scripts/__pycache__
connect.R
kevin
nohup.out
franzi
ole